
/**
 * @file
 * itweak_upload CSS file.
 */

#upload-attachments {
  margin: 10px 0 0;
}

#edit-upload-wrapper {
  background: transparent url('images/attachment.png') no-repeat left center;
  padding-left: 30px;
}

#upload-attachments,
#upload-attachments tr,
#upload-attachments th,
#upload-attachments td {
  background: transparent;
  border: 0;
}

#attach-wrapper tbody {
  border: 0;
}

#attach-wrapper .list {
  white-space: nowrap;
}

#attach-wrapper .file a {
  cursor: pointer;
  font-size: 80%;
  margin-left: 5px;
}

#attach-wrapper .file a.remove:hover {
  color: red;
}

#attach-wrapper .file .details {
  color: #777;
  display: block;
  font-size: 80%;
}

#attach-wrapper .file {
  background: transparent url('images/mime/32/default.png') no-repeat left center;
  font-size: 14px;
  padding-left: 40px;
}

#attach-wrapper .mime-ai .file {
  background-image: url('images/mime/32/ai.png');
}

#attach-wrapper .mime-odt .file,
#attach-wrapper .mime-doc .file {
  background-image: url('images/mime/32/doc.png');
}

#attach-wrapper .mime-eps .file {
  background-image: url('images/mime/32/eps.png');
}

#attach-wrapper .mime-gif .file {
  background-image: url('images/mime/32/jpeg.png');
}

#attach-wrapper .mime-gz .file {
  background-image: url('images/mime/32/gz.png');
}

#attach-wrapper .mime-id .file {
  background-image: url('images/mime/32/id.png');
}

#attach-wrapper .mime-jpg .file,
#attach-wrapper .mime-jpeg .file {
  background-image: url('images/mime/32/jpeg.png');
}

#attach-wrapper .mime-pdf .file {
  background-image: url('images/mime/32/pdf.png');
}

#attach-wrapper .mime-png .file {
  background-image: url('images/mime/32/png.png');
}

#attach-wrapper .mime-pptx .file {
  background-image: url('images/mime/32/pptx.png');
}

#attach-wrapper .mime-ps .file {
  background-image: url('images/mime/32/ps.png');
}

#attach-wrapper .mime-psd .file {
  background-image: url('images/mime/32/psd.png');
}

#attach-wrapper .mime-mp4 .file,
#attach-wrapper .mime-avi .file,
#attach-wrapper .mime-mov .file {
  background-image: url('images/mime/32/quicktime.png');
}

#attach-wrapper .mime-rar .file {
  background-image: url('images/mime/32/rar.png');
}

#attach-wrapper .mime-svg .file {
  background-image: url('images/mime/32/svg.png');
}

#attach-wrapper .mime-swf .file {
  background-image: url('images/mime/32/swf.png');
}

#attach-wrapper .mime-tar .file {
  background-image: url('images/mime/32/tar.png');
}

#attach-wrapper .mime-xls .file,
#attach-wrapper .mime-xlsx .file {
  background-image: url('images/mime/32/xlsx.png');
}

#attach-wrapper .mime-zip .file {
  background-image: url('images/mime/32/zip.png');
}

/* On view */
.item-list ul.attachment-list {
  border: 1px solid #DDD;
  padding: 5px 7px;
  margin-right: 1em;
}

.item-list ul.attachment-list li {
  list-style: none;
  margin: 0;
  padding: 4px 0 4px 22px;
}

.attachment-list li {
  background: transparent url('images/mime/16/default.png') no-repeat left center;
}

.attachment-list .mime-ai {
  background-image: url('images/mime/16/ai.png') !important;
}

.attachment-list .mime-odt,
.attachment-list .mime-doc {
  background-image: url('images/mime/16/doc.png') !important;
}

.attachment-list .mime-eps {
  background-image: url('images/mime/16/eps.png') !important;
}

.attachment-list .mime-gif {
  background-image: url('images/mime/16/jpeg.png') !important;
}

.attachment-list .mime-gz {
  background-image: url('images/mime/16/gz.png') !important;
}

.attachment-list .mime-id {
  background-image: url('images/mime/16/id.png') !important;
}

.attachment-list .mime-jpg,
.attachment-list .mime-jpeg {
  background-image: url('images/mime/16/jpeg.png') !important;
}

.attachment-list .mime-pdf {
  background-image: url('images/mime/16/pdf.png') !important;
}

.attachment-list .mime-png {
  background-image: url('images/mime/16/png.png') !important;
}

.attachment-list .mime-pptx {
  background-image: url('images/mime/16/pptx.png') !important;
}

.attachment-list .mime-ps {
  background-image: url('images/mime/16/ps.png') !important;
}

.attachment-list .mime-psd {
  background-image: url('images/mime/16/psd.png') !important;
}

.attachment-list .mime-mp4,
.attachment-list .mime-avi,
.attachment-list .mime-mov {
  background-image: url('images/mime/16/quicktime.png') !important;
}

.attachment-list .mime-rar {
  background-image: url('images/mime/16/rar.png') !important;
}

.attachment-list .mime-svg {
  background-image: url('images/mime/16/svg.png') !important;
}

.attachment-list .mime-swf {
  background-image: url('images/mime/16/swf.png') !important;
}

.attachment-list .mime-tar {
  background-image: url('images/mime/16/tar.png') !important;
}

.attachment-list .mime-xls,
.attachment-list .mime-xlsx {
  background-image: url('images/mime/16/xlsx.png') !important;
}

.attachment-list .mime-zip {
  background-image: url('images/mime/16/zip.png') !important;
}